{% extends 'master/base.html' %}
{% block 'content'%}

<div class="container">
    <div class="col-md-6">
        <h3>Office Management System is a web based application for
            institutions to maintain their complete activities related to
            institute. This software is very easy to operate and light on
            system tool to maintain information about Institute, Students,
            Faculty, Courses etc.

            Once installing the script by following the documentation,

The admin dashboard welcome you and shows the main controls of the
            system on the top side, you will see the navigation for management
            of various options.<br/>
        </h3>
<pre style="color:#0000FF">Following are the features :
Manage Enquiries/Leads
Manage Students
Manage Batches
Manage Faculties
Manage Courses
Manage ToDo’s
Inventory
Masters
Expanses
    General Settings</pre>
Reports<br/>
<b>Demo Admin</b><br>
Demo Username : admin
Demo Password : 123456
    </div>
     <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Autem cumque deserunt enim in praesentium quod ut? Ad dolorem,
            ex expedita laboriosam perferendis quia quo ratione recusandae rem
            voluptate? Aliquam, mollitia.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Autem cumque deserunt enim in praesentium quod ut? Ad dolorem,
            ex expedita laboriosam perferendis quia quo ratione recusandae rem
            voluptate? Aliquam, mollitia.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Autem cumque deserunt enim in praesentium quod ut? Ad dolorem,
            ex expedita laboriosam perferendis quia quo ratione recusandae rem
            voluptate? Aliquam, mollitia.</p>
    </div>
     <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Autem cumque deserunt enim in praesentium quod ut? Ad dolorem,
            ex expedita laboriosam perferendis quia quo ratione recusandae rem
            voluptate? Aliquam, mollitia.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Autem cumque deserunt enim in praesentium quod ut? Ad dolorem,
            ex expedita laboriosam perferendis quia quo ratione recusandae rem
            voluptate? Aliquam, mollitia.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Autem cumque deserunt enim in praesentium quod ut? Ad dolorem,
            ex expedita laboriosam perferendis quia quo ratione recusandae rem
            voluptate? Aliquam, mollitia.</p>
    </div>
     <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Autem cumque deserunt enim in praesentium quod ut? Ad dolorem,
            ex expedita laboriosam perferendis quia quo ratione recusandae rem
            voluptate? Aliquam, mollitia.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Autem cumque deserunt enim in praesentium quod ut? Ad dolorem,
            ex expedita laboriosam perferendis quia quo ratione recusandae rem
            voluptate? Aliquam, mollitia.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Autem cumque deserunt enim in praesentium quod ut? Ad dolorem,
            ex expedita laboriosam perferendis quia quo ratione recusandae rem
            voluptate? Aliquam, mollitia.</p>
    </div>
</div>

{% endblock %}
